<% provide(:title, 'All awkiposts') %>
<h1>All awkiposts</h1>

<ul class="awkiposts">
  <% @awkiposts.each do |awkipost| %>
    <ul>
    	<li> 
           <%= awkipost.content %>
           <p>
           <%= link_to gravatar_for(awkipost.user, size: 52), awkipost.user %>
           <%= awkipost.user.name %>
           <p>
           <%= awkipost.created_at %>
         </li>
	</ul>
  <% end %>
</ul>

